<h1>Preduzeća</h1>
<hr>

<div class="row"> 
    <div class="card"  *ngFor="let c of allCompanies">
        <!-- <img :src="assets/Images/{{c.coverImage}}" class="card-img-top" sty alt="Missing image"> -->
        <ul class="list-group list-group-flush" >
            <li class = "list-group-item"  style="cursor: pointer;" (click)="selectCompany(c.id, c.name)">
            <strong>{{c.name}}</strong> 
            </li>
            <li style="height: 35px;" class="list-group-item">{{c.pib}}</li>  
            <li style="height: 35px; text-align: center;" class="list-group-item"><strong>PIB:</strong> {{c.pib}}€</li>    
            <li  *ngIf="c.headOfficeId !== null" style="height: 70px;" class="list-group-item"><strong>Sedište:</strong> {{c.headOfficeAddress}}</li> 
            <!-- <li  *ngIf="c.headOfficeId == null" style="height: 70px;" class="list-group-item">Nije uneto sedište preduzeća.</li>  -->
            <li *ngIf="c.headOfficeId == null" style="height: 70px;" class="list-group-item">
                <a class="btn-green btn" href="admin/new-building" style=" margin-top: 3%;">Dodaj sedište</a>  
            </li>            
            <li style="height: 70px;" class="list-group-item">
                <button class="btn-red btn" style=" margin-top: 3%;" (click)="deleteCompany(c.id, c.name)">Obriši</button>  
            </li>
            <!-- <li class="list-group-item"> 
                <button class="small-btn" (click)="unsubscribeCottage(c.id)">Unsubscribe</button>  
            </li>  -->
        </ul> 
    </div>

</div>
 
<div class="card-body" *ngIf="showBuildings">
    

    <h1>Objekti {{currentCompany}}</h1>
    <hr>


    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr> 
                    <th>Adresa</th>
                    <th>Grad</th>
                    <th>Poštanski broj</th>
                    <th>Država</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allBuildings"> 
                    <td>{{item.address.street}} {{item.address.number}}</td>
                    <td>{{item.address.city.name}}</td>
                    <td>{{item.address.city.postalCode}}</td>
                    <td>{{item.address.city.country}}</td>                    
                    <td *ngIf="item.address.longitude == ''"><span class="badge"  style="color: gray;">Ručno uneta adresa</span></td>
                    <td *ngIf="item.address.longitude != ''"><span class="badge btn-green" (click)="showMap(item.address)" style="cursor: pointer;">Prikaži na mapi</span></td>
                    <td *ngIf="item.headOffice != false"><span class="badge btn-red" (click)="changeHeadOffice(item.id)" style="float:right; cursor: pointer;">Ukloni kao sedište</span></td>
                    <td *ngIf="item.headOffice == false"><span class="badge btn-green" (click)="changeHeadOffice(item.id)" style="float:right; cursor: pointer;">Postavi za sedište</span></td>
                    <td><span class="badge btn-red" (click)="deleteBuilding(item.id)" style="cursor: pointer;">Obriši</span></td>
                    <!-- <td class="color-primary">$21.56</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for documentation view -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{selectedAddress.street}}</h5>
        </div> 

        <div  class="container"> 

            <agm-map [latitude]="selectedAddress.latitude" [longitude]="selectedAddress.longitude" [zoom]="0">
                <agm-marker [latitude]="selectedAddress.latitude" [longitude]="selectedAddress.longitude"></agm-marker>
              </agm-map>
 

            <br> 
        </div>
 
          
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="display = 'none'">Zatvori</button>
        </div>
    </div>
    </div>
</div>