   
<div class="cardcard-body p-5" style="float: left; width: 50%; margin-top: 15ch;">
        
    <div class="text-center"> 
        <h4 class="text-dark mb-5">Dodavanje mašine u plan održavanja</h4>
    </div>  
    <form (ngSubmit)="onSubmit()" [formGroup]="form" style=" height: 70ch;">
        <div class="row">  

            <div class="input-group mb-4"> 
                <select class="form-control" formControlName="machine" placeholder="Izaberite mašinu" required>
                    <option style="color:gray" value="" disabled selected>Mašina</option>
                    <option *ngFor="let item of allMachines" value="{{item.id}}">{{item.name}} {{item.model}}</option> 
                </select>
            </div> 
            <div class="input-group mb-3">
                <textarea class="form-control" style="height: 15ch;" type="text"  formControlName="plan" placeholder="Plan*"></textarea>
            </div>
                
                <div class="col-md-12 text-center">
                    <div class="d-flex my-2 justify-content-between">
                    <div class="d-inline-block mr-3"> 
                    </div>
    
                    </div>
    
                    <button style="margin-top: 4ch;" type="submit" class="btn btn-lg btn-block mb-4 btn-green" [disabled]="!form.valid">
                        Dodaj <li class="fa fa-plus"></li></button>
    
                </div>
        </div>
    </form> 
</div> 

<div class="cardcard-body p-5"  style="float:right;width: 50%;">
        
    <div class="text-center"> 
        <h4  style="width:95%; float: left;">Mašine</h4> 
    </div>   

    
    <form (ngSubmit)="createMachineMaintenance()" [formGroup]="formDates"> 


    <div class="input-group mb-4"> 
        <select class="form-control" formControlName="year" placeholder="Izaberite godinu važenja" required>
            <option style="color:gray" value="" disabled selected>Godina važenja</option>
            <option *ngFor="let item of years" value="{{item}}">{{item}}</option> 
        </select>
    </div> 

    <div class="table-responsive" style="margin-top : 1ch; height: 53ch;"> 
        <table class="table" style=" margin-bottom: 4ch;">
            <thead>
                <tr> 
                    <th>Naziv</th>
                    <th>Model</th> 
                    <th>Plan</th> 
                    <th>/</th>
                </tr>
            </thead>
            <tbody style="scroll-behavior: auto;">
                <tr *ngFor="let item of items">  
                    <td  class="color-primary">{{item.machine.name}}</td> 
                    <td  class="color-primary">{{item.machine.model}}</td>   
                    <td><span class="badge btn-green" style="cursor: pointer;" 
                        (click)="display='block'; selectedItem = item; selectedMachine = item.machine.name + ' ' + item.machine.model">Prikaži</span></td>
                    <td><span class="badge btn-red" style="cursor: pointer;" (click)="removeItem(item)">Ukloni</span></td>
                </tr>
            </tbody>
        </table>  
    </div>

    
    <button class="btn btn-lg btn-block mb-4 btn-green"  type="submit" style=" margin-top: 3ch;" [disabled]="items.length == 0 || !formDates.valid">
        Kreiraj plan održavanja <li class="fa fa-plus"></li></button>
        
    </form> 
</div> 
 
   

<!-- Modal for plan view -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Plan za mašinu {{selectedMachine}}</h5>
        </div> 

        <div  class="container"> 
             <p style="color:black; margin: 1%">
                 {{selectedItem.plan}}
             </p>

            <br> 
        </div>
 
          
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="display = 'none'">Zatvori</button>
        </div>
    </div>
    </div>
</div>