<div class="input-group mb-4" style="align-items: center; justify-content: center; vertical-align: middle; width: 50%;"> 
    <h1 for="selectSector">Izaberite radnu jedinicu </h1>   
    <select class="form-control" [(ngModel)]="sector" (change)="changedSector()" style=" width: 10%; margin-top: 5%;" id="selectSector"> 
        <option value="-1" disabled selected>Radna jedinica</option>
        <option value="0">Održavanje i energetika</option>
        <option value="1">Klanica i pakeraj</option>
        <option value="2">Prerada</option>
        <option value="3">Kontrola kvaliteta</option>
    </select> 

</div>   
<hr>

<input *ngIf="sector != -1"  style="float: right; width: 20%;"
type="text"
[(ngModel)]="termMachine"
class="form-control"
placeholder="Pretražite mašine"
/>    
<div class="row" *ngIf="sector != -1" style="margin-top: 5%;"> 
    <div class="card"  *ngFor="let c of allMachines | filter : termMachine">
        
        <ul class="list-group list-group-flush" >
            <li class = "list-group-item"  style="cursor: pointer;" (click)="showWorkers(c)">
            <strong>{{c.name}}</strong> 
            </li>   
            <li style="height: 35px; text-align: center;" class="list-group-item"><strong>Model:</strong> {{c.model}}</li>    
            <li style="height: 35px;" class="list-group-item"><strong>Količina:</strong> {{c.quantity}}</li>   
            <li *ngIf="c.documentation == ''" style="height: 70px;" class="list-group-item"><p style="margin-top: 7%;">Nije uneta dokumentacija</p> </li>       
            <li *ngIf="c.documentation != ''" style="height: 70px;" class="list-group-item">     
                <button class="btn-green btn" style=" margin-top: 3%;" (click)="displayDescription = 'block'; selectedMachine = c">Prikaži dokumentaciju</button>  
            </li>          
            <li style="height: 70px;" class="list-group-item">
                <button class="btn-green btn" style=" margin-top: 3%;" (click)="showWorkers(c)">Prikaži radnike</button>  
            </li> 
        </ul> 
    </div>

</div>

<div class="card-body" *ngIf="showWorkersForMachine">
    

    <h1>Radnici na mašini {{selectedMachine.name}} {{selectedMachine.model}} 
        <input style="float: right; width: 20%;"
          type="text"
          [(ngModel)]="termUser"
          class="form-control"
          placeholder="Pretražite radnike"
        />       
    </h1>
    <hr>


    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr> 
                    <th>Ime i prezime</th>
                    <th>Email</th>
                    <th>Broj telefona</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allWorkers | filter : termUser">  
                    <td>{{item.fullName}}</td>             
                    <td>{{item.email}}</td>           
                    <td>{{item.phoneNumber}}</td>                  
                    <td><span *ngIf="item.mainWorker" class="badge" style="color: #04664c;" style="cursor: pointer;">Poslovođa</span></td> 

                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal for documentation view -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayDescription}" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dokumentacija za mašinu {{selectedMachine.name}} {{selectedMachine.model}}</h5>
        </div> 

        <div  class="container"> 
             <p style="color:black; margin: 1%">
                 {{selectedMachine.documentation}}
             </p>

            <br> 
        </div>
 
          
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="displayDescription = 'none'">Zatvori</button>
        </div>
    </div>
    </div>
</div>