<div class="container d-flex align-items-center justify-content-center ">
    <div class="row justify-content-center" >
        <div class="col-lg-6 col-md-10">
        <div class="card" > 
            <div class="card-body p-5" >
                
            <div class="text-center">
                <a href="" style="text-decoration: none; color: #00553e; font-size: 18px; ">
                <img  src="assets\logos\circle-border.png" width="100" height="100"> 
                </a> 
    
                <h4 class="text-dark mb-5" style="margin-top: 2%;">Kreiranje novog objekta</h4>
            </div>  
            <form (ngSubmit)="onSubmit()" [formGroup]="form" >
                <div class="row">

                    <div class="input-group mb-4"> 
                        <select class="form-control" formControlName="companyId" placeholder="Izaberite preduzeće" required>
                            <option value="" disabled selected>Preduzeće</option>
                            <option *ngFor="let company of allCompanies" value="{{company.id}}">{{company.name}}</option> 
                        </select>
                    </div> 
                    <div class="input-group mb-3" *ngIf="!selectAddress">
                    <input class="form-control" type="text" formControlName="street" placeholder="Ulica">
                    </div>
                    <div class="input-group mb-3" *ngIf="!selectAddress">
                    <input class="form-control" type="text" formControlName="number" placeholder="Broj">
                    </div>
                    <div class="input-group mb-3" *ngIf="!selectAddress">
                    <input class="form-control" type="text"  formControlName="city"placeholder="Grad">
                    </div>
                    <div class="input-group mb-3" *ngIf="!selectAddress">
                    <input class="form-control" type="text"  formControlName="postalCode"placeholder="Poštanski broj">
                    </div>
                    <div class="input-group mb-3" *ngIf="!selectAddress">
                    <input class="form-control" type="text" formControlName="country" placeholder="Država">
                    </div> 
                    
                    <div class="input-group mb-3" *ngIf="selectAddress">
                        <label *ngIf="address ==''">Izaberite adresu na mapi povlačeći crvenu figuru.</label>
                        <label *ngIf="address != ''">Adresa: {{address}}</label>
                        <agm-map [zoom]="13" [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map> 
                    </div>
                    <div class="input-group mb-4">
                        <button class="btn btn-lg btn-block mb-4 btn-green" *ngIf="selectAddress" (click)="selectAddress=false; resetAddress()">Ručni unos adrese</button>
                        <button class="btn btn-lg btn-block mb-4 btn-green" *ngIf="!selectAddress" (click)="selectAddress=true; resetAddress()">Unos adrese pomoću mape</button>
                    </div> 
                    <div class="input-group mb-4">
                        <label for="roleCheck">Da li je sedište?</label>
                        <input id="roleCheck" type="checkbox" style="margin-left: 10px; accent-color: #00553e" formControlName="headOffice">
                    </div> 
    
                <div class="col-md-12 text-center">
                    <div class="d-flex my-2 justify-content-between">
                    <div class="d-inline-block mr-3"> 
                    </div>
     
                    </div>
    
                    <button type="submit" class="btn btn-lg btn-block mb-4 btn-green" [disabled]="!form.valid">Kreiraj</button>
     
                </div>
                </div>
            </form> 
            </div>
        </div>
        </div>
    </div>
    </div> 

    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Sedište već postoji</h4>
                <button type="button" class="btn-close x-btn" aria-label="Close" (click)="display = 'none'"  ><i style="color: white;" class="fa fa-close" ></i></button>
              </div>
              <div class="modal-body">
                <p>Preduzeće već poseduje sedište na adresi {{checkHeadOffice()}}. Da li želite da podesite novo sedište?</p>
              </div>
              <div class="modal-footer"> 
                <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="leaveOldHeadOffice();this.create()">Odustani</button>
                <button type="button" class="btn btn-green" style=" width: 35%;" (click)="this.create();" data-dismiss="modal">Potvrdi</button>
              </div>
        </div>
        </div>
    </div>