.btn-green{
    color: #fff698;
    background-color: #00553e;
} 

.btn-green:hover{
    background-color: #076b50;
}

.field-icon {
float: right;
left: -15px;
margin-top: -25px;
position: relative;
z-index: 2;
}