


<h1 >
    Planovi održavanja 
    <button class="btn-green btn" style=" right: 1%; position: fixed; width: 16%;"  (click)="displayYear = 'block'; selectedYear = 0 ; selectedSector = ''"> Preuzmi pdf  <li class="fa fa-download"></li></button>  
</h1>  

<div class="table-responsive">
    <hr>
    <input style="float: right; width: 20%; "
    type="text"
    [(ngModel)]="termMaintenances"
    class="form-control"
    placeholder="Pretražite planove održavanja"
  />
    <table class="table">
        <thead>
            <tr> 
                <th>Broj</th>
                <th>Godina važenja</th> 
                <th>Radna jedinica</th>
                <th>Autor</th>
                <th>Mašine</th>   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allMaintenances | filter : termMaintenances"> 
                <td>#{{item.id}}</td>
                <td>{{item.year}}</td> 
                <td>{{item.sector}}</td> 
                <td>{{item.author}}</td> 
                <td><span class="badge btn-green" (click)="showItems(item)" style="cursor: pointer;">Prikaži</span></td>  
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal for seeing all machines -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" style="background-color: rgba(0, 0, 0, 0.5);">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pregled plana održavanja broj #{{selectedMaintenance.id}}</h5>
    </div>  
    
    <div  class="container"> 
        
        <table class="table">
            <thead>
                <tr> 
                    <th>Naziv</th>
                    <th>Model</th> 
                    <th>Plan</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items"> 
                    <td class="color-primary">{{item.machine.name}}</td>
                    <td class="color-primary">{{item.machine.model}}</td>  
                    <td><span class="badge btn-green" style="cursor: pointer;" 
                        (click)="displayPlan='block'; selectedItem = item; selectedMachine = item.machine.name + ' ' + item.machine.model">Prikaži</span></td>
                </tr>
            </tbody>
        </table>

        <br> 
    </div>

        
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="display = 'none'">Zatvori</button>
    </div>
</div>
</div>
</div>

<!-- Modal for documentation view -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayPlan}" style="background-color: rgba(0, 0, 0, 0.5);">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Plan održavanja za mašinu {{selectedMachine}}</h5>
    </div> 

    <div  class="container"> 
            <p style="color:black; margin: 1%">
                {{selectedItem.plan}}
            </p>

        <br> 
    </div>

        
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="displayPlan = 'none'">Zatvori</button>
    </div>
</div>
</div>
</div>

<!-- Modal for year select -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayYear}" style="background-color: rgba(0, 0, 0, 0.5);">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Izaberite godinu važenja plana održavanja</h5>
    </div> 

    <div  class="container">  
        <br>
        <select class="form-control"  [(ngModel)]="selectedSector" required>
            <option style="color:gray" value="" disabled selected>Radna jedinica</option> 
            <option value="ODRZAVANJE_I_ENERGETIKA">Održavanje i energetika</option>
            <option value="KLANICA_I_PAKERAJ">Klanica i pakeraj</option>
            <option value="PRERADA">Prerada</option>
            <option value="KONTROLA_KVALITETA">Kontrola kvaliteta</option> 
        </select> 
        <br>
        <select class="form-control"  [(ngModel)]="selectedYear" placeholder="Izaberite godinu važenja" required>
            <option style="color:gray" value="0" disabled selected>Godina važenja</option>
            <option *ngFor="let item of years" value="{{item}}">{{item}}</option> 
        </select> 


        <br> 
    </div>

        
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="displayYear = 'none'">Odustani</button>
        <button type="button" class="btn btn-green" style="width: 35%;" (click)="displayYear = 'none'; generateMaintenancePdf()" [disabled]="selectedYear == 0 || selectedSector == ''">Potvrdi</button>
    </div>
</div>
</div>
</div>