
 
<div class="card-body">
    

    <h1>Zaposleni 
        <input style="float: right; width: 20%;"
          type="text"
          [(ngModel)]="termUser"
          class="form-control"
          placeholder="Pretražite zaposlene"
        />
    </h1>
    <hr>


    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr> 
                    <th>Ime i prezime</th>
                    <th>Email</th>
                    <th>Broj telefona</th>
                    <th>Vrsta zaposlenog</th>
                    <th>Radna jedinica</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allUsers  | filter: termUser"> 
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.role}}</td>
                    <td>{{item.sector}}</td>
                    <td><span class="badge btn-red" (click)="deleteUser(item)" style="cursor: pointer;">Obriši</span></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>