<h1>Mašine na kojima radite
    <input   
    style="float: right; width: 20%;"
    type="text"
    [(ngModel)]="termMachine"
    class="form-control"
    placeholder="Pretražite mašine"
    />    </h1>
<hr>

<div class="row"> 
    <div class="card"  *ngFor="let c of allMachines | filter: termMachine">
        
        <ul class="list-group list-group-flush" >
            <li class = "list-group-item"  style="cursor: pointer;" (click)="displayDescription = 'block'; selectedMachine = c">
            <strong>{{c.name}}</strong> 
            </li>   
            <li style="height: 35px; text-align: center;" class="list-group-item"><strong>Model:</strong> {{c.model}}</li>     
            <li *ngIf="c.documentation == ''" style="height: 70px;" class="list-group-item"><p style="margin-top: 7%;">Nije uneta dokumentacija</p> </li>       
            <li *ngIf="c.documentation != ''" style="height: 70px;" class="list-group-item">     
                <button class="btn-green btn" style=" margin-top: 3%; " (click)="displayDescription = 'block'; selectedMachine = c">Prikaži dokumentaciju</button>  
            </li>           
        </ul> 
    </div>

</div>

<!-- Modal for documentation view -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayDescription}" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dokumentacija za mašinu {{selectedMachine.name}} {{selectedMachine.model}}</h5>
        </div> 

        <div  class="container"> 
             <p style="color:black; margin: 1%">
                 {{selectedMachine.documentation}}
             </p>

            <br> 
        </div>
 
          
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="displayDescription = 'none'">Zatvori</button>
        </div>
    </div>
    </div>
</div>