<div class="card-body">
    
 
    <h1  style="width:95%; float: left;">Narudžbenice
        <a class="btn-green btn" style="float: right; width: 15%;"  href="/leader/new-order">Nova narudžbenica <li class="fa fa-plus"></li></a> 
    </h1> 


    <div class="table-responsive">
        <hr>
        <table class="table">
            <thead>
                <tr> 
                    <th>Broj</th>
                    <th>Datum kreiranja</th>
                    <th>Mašine</th>
                    <th>Ukupna cena</th> 
                    <th>Odgovor</th> 
                    <th>/</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allOrders"> 
                    <td>#{{item.id}}</td>
                    <td>{{item.creationDate}}</td>
                    <td><span class="badge btn-green" (click)="showMachines(item.id)" style="cursor: pointer;">Prikaži</span></td>
                    <td>{{item.price}}€</td> 
                    <td *ngIf="item.approved == true"><span class="badge"  style="color: #04664c;" >Odobreno</span></td>
                    <td *ngIf="item.approved == false"><span class="badge" style="color: #b7222f;">Odbijeno</span></td>
                    <td *ngIf="item.approved != true && item.approved != false"><span class="badge" style="color: gray;">Bez odgovora</span></td>
                    <td><span *ngIf="item.approved == true" class="badge btn-green" style="cursor: pointer;" (click)="exportOrderReport(item.id)">Preuzmi pdf</span></td> 
                
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for seeing all machines -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Pregled stavki narudžbenice broj #{{selectedOrder}}</h5>
        </div>  
        
        <div  class="container"> 
            
            <table class="table">
                <thead>
                    <tr> 
                        <th>Naziv</th>
                        <th>Model</th>
                        <th>Cena</th> 
                        <th>Količina</th>
                        <th>Dokumentacija</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderItems"> 
                        <td class="color-primary">{{item.name}}</td>
                        <td class="color-primary">{{item.model}}</td>
                        <td>{{item.price}}€</td>
                        <td>{{item.quantity}}</td>  
                        <td *ngIf="!item.documentation">Nije navedena</td>
                        <td *ngIf="item.documentation"><span class="badge btn-green" style="cursor: pointer;" 
                            (click)="displayDescription='block'; selectedDocumentation = item.documentation; selectedMachine= item.name">Prikaži</span></td>
                    </tr>
                </tbody>
            </table>

            <br> 
        </div>
 
          
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="display = 'none'">Zatvori</button>
        </div>
    </div>
    </div>
</div>

<!-- Modal for documentation view -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayDescription}" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dokumentacija za mašinu {{selectedMachine}}</h5>
        </div> 

        <div  class="container"> 
             <p style="color:black; margin: 1%">
                 {{selectedDocumentation}}
             </p>

            <br> 
        </div>
 
          
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="background-color: #676564; border: #676564; width: 35%;" (click)="displayDescription = 'none'">Zatvori</button>
        </div>
    </div>
    </div>
</div>