.btn-green{
    color: #fff698;
    background-color: #00553e;
} 

.btn-green:hover{
    background-color: #076b50;
}
 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}